*{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}
body{
    height: 100%;
    color: #fff;
}
.header{
    display: flex;
    width: 100%;
    height: 7.61%;
    background-color: rgb(48,38,115,0.7);
}
.image{
    display: flex;
    align-items: center;
    width: 50%;
}
.image__logo{
    height: 75%;
    width: 15%;
    margin-left: 9%;
}
.menu{
    display: flex;
    width: 50%;
}
.menu ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
    display: flex;
    width: 18%;
    height: 35%;
    list-style: none;
    align-items: center;
    font-weight: 600;
    font-size: 105%;
    justify-content: center;
}
.menu ul li:hover{
    color:#b69938;
}